*{
    margin:0;
    padding: 0;
  }

  body,
  #wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }


footer {
  margin-top: auto;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100px;
}

.w-80 {
    width: 65vw;
    height: 65vw;
}

.form::placeholder {
  text-align: center;
  top: 100px;
}

h2 {
  font-size: 27px !important;
}
textarea{
  resize: none;

}
