{% extends 'base.html' %}{% load static %}{% block main %}

<section class="container mb-5" id="warpper">
        <div class="row mb-3">
            <div class="text-center mx-auto">
                <div id='app'>
                    <textarea v-model="message" placeholder="入力してください" maxlength=680 class='form'style=" height:290px; width:65vw; font-size: 24px;"wrap="hard" ></textarea>
                    <h2>[|[ message.length ]|]文字です</h2>
                    <a type='submit' class='btn btn-primary mt-2' href="/" >リセット</a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
