{% extends 'base.html' %}{% load static %}{% block main %}

<section class="container mb-5" id="warpper">
        <div class="row mb-3">
            <div class="text-center mx-auto">
                <form method="POST">
                    {% csrf_token %}
                    {% for field in form %}
                    <p>
                        <legend style="text-align: center;display: block; " class="text-dark">{{ field.label }}</legend>
                        {{ field }}
                    </p>
                    {% endfor %}
                    <input type="submit" value="カウントする" class='btn btn-primary mb-5'>
                </form>
            </div>
        </div>
        <div class="text-center text-dark">
            {% if text %}
            <h3>{{ text }}文字です</h3>
            {% else %}
            <h3 class="">0文字です</h3>
            {% endif %}
        </div>
    </div>
</section>





{% endblock %}
